#footer {
  color: $white;
  .footer__top {
    background-color: $oil;
  }
  .footer__bottom {
    background-color: $black;
    color: $sugar;
  }
  .footer-link-title {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 5px;

    &::after {
      content: '';
      display: inline-block;
      width: 30px;
      height: 1px;
      background-color: $white;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}